<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="weixin" connectionString="Database=DZYC;UserID=db2admin;Password=dzyc=1234;Server=10.89.128.137"/>
    <add name="v3" connectionString="Database=DZYXTD;UserID=dz;Password=dz;Server=10.89.128.31:60004"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="IBM.Data.DB2, Version=9.7.4.4, Culture=neutral, PublicKeyToken=7C307B91AA13D208"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>