<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="textResource" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="shiftCOM" value="COM2" />
    <add key="qrcodeCOM" value="COM4" />
    <add key="barcodeIP" value="192.168.1.101" />
    <add key="orderFolder" value="C:\Order" />
    <add key="winrar" value="C:\Program Files (x86)\WinRAR\WinRAR.exe" />
    <add key="orderFilePath" value="C:\Users\lei\Desktop\Work\RetailerOrder20150509105427.Order" />
    <add key="saveInTxt" value="false" />
    <add key="barcode" value="barcode.txt" />
    <add key="qrcode" value="qrcode.txt" />
    <add key="log" value="log.txt" />
    <add key=""/>
  </appSettings>
  <connectionStrings>
    <add name="ScanCodeEntities" connectionString="metadata=res://*/ScanCode.csdl|res://*/ScanCode.ssdl|res://*/ScanCode.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=ScanCode;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DB2" connectionString="Database=DZYC;UserID=db2admin; Password=dzyc=1234;Server=10.89.128.137"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <textResource>
    <add key="welcome" value="欢迎使用条烟扫码系统！" />
    <add key="openShiftComFail" value="打开切户COM端口({0})失败，请检查端口是否被占用，或重新设置端口。" />
    <add key="openQrComFail" value="打开二维码COM端口({0})失败，请检查端口是否被占用，或重新设置端口。" />
    <add key="connectingBarScaner" value="正在连接条码扫描器.." />
    <add key="connectBarScanerFail" value="连接条码扫描器失败，请检查连接和扫描器IP地址。" />
    <add key="waitingOrders" value="打开端口成功，连接条码扫码器成功，等待发送订单信息。" />
    <add key="readOrderSuccess" value="读取订单信息成功。" />
    <add key="clickStart" value="请先点击开始按钮。" />
    <add key="barcodeQrcodeNotEq" value="接收到的二维码和条码数量不一致，请核对。" />
  </textResource>  
</configuration>